/* MAIN LAYOUT COMPONENT */
.main_container{
    height: 100%;
    
    
}

.home_bckg{
    background:url("../assets/homepage/background-home-mobile.jpg") no-repeat;
    background-size: 100% 100%;
    
}

.destination_bckg{
    background:url("../assets/destination/background-destination-tablet.jpg") no-repeat ;
    background-size: 100% 100%;
}

.crew_bckg{
    background:url("../assets/crew/background-crew-mobile.jpg") no-repeat;
    background-size: 100% 100%;
}

.technology_bckg{
    background: url("../assets/technology/background-technology-mobile.jpg") no-repeat ;
    background-size: 100% 100%;
}

/* HEADER COMPONENT */

header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    background: none;
}

nav{
    z-index: 0;
    width: 80%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 7.35em 0 0 2em;
    gap: 32px;
    background-color: rgba(255, 255, 255, 0.1) ;
    backdrop-filter: blur(.5rem);
    transition: transform 500ms ease-in-out;
    
}

.logo_icon{
    z-index: 1;
}

.hamburger_icon,
.close_icon{
    z-index: 1;
    cursor: pointer;
}

.header_nav{
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1rem;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.header_nav:hover{
    border-right: 4px #979797 solid;
}

.header_nav > span{
    font-weight: 700;
    margin-right: 12px;
}
/* TABLET MODE */

@media screen and (min-width: 768px) {
  
    .home_bckg{
        background:url("../assets/homepage/background-home-tablet.jpg") no-repeat;
        background-size: 100% 100%;
        
    }
    
    .destination_bckg{
        background:url("../assets/destination/background-destination-tablet.jpg") no-repeat ;
        background-size: 100% 100%;
    }
    
    .crew_bckg{
        background:url("../assets/crew/background-crew-tablet.jpg") no-repeat;
        background-size: 100% 100%;
    }
    
    .technology_bckg{
        background: url("../assets/technology/background-technology-tablet.jpg") no-repeat ;
        background-size: 100% 100%;
    }

    header{
        gap: 10em;
        padding:0 0 0 1.5em;
        margin-bottom: 1em;;
    }

    .hamburger_icon,
    .close_icon{
        display: none;
    }

    header > nav{
        position:initial;
        width: 70%;
        height: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 3em;
    }
    
    .header_nav{
        display: flex;
        align-items: center;
        height: 8em;
        text-align: center;
        
        
    }
    
    .header_nav:hover{
        border-right: none;
        border-bottom: 4px #979797 solid;
    }
    
    .header_nav > span{
        font-weight: 700;
        margin-right: 12px;
    }
   
  }