.home_container,
.crew_container,
.destination_container{
  display: grid;
  padding: 1.5em;
  min-height: 100vh;
  text-align: center;
}


/* MAIN ELEMENTS  */
.pages_title{
  margin-bottom: 2.6em;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}

.pages_title > span{
  color: #979797;
  margin-right: .65em;
}

.titles,
.subtitles_text{
  color: #FFFFFF;
  text-transform: uppercase;
}

.titles{
  margin-top: 20px;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: center;
}

.titles_sm{
  font-size: 1.5rem;
  color:#FFFFFF;
  text-transform: uppercase;
  margin-bottom: 1em;

}

.main_text{
  margin-top: 10px;
  font-size: 0.875rem;
  line-height: 25px;
}

.subtitles{
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 0.95rem;
}

.subtitles_text{
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-size: 1.75rem;
}

/* HOME PAGE */

.home_container{
  gap: 16px;
}

.title_home{
  font-family: "Bellefair", serif;
  font-size: 5rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  line-height: 0;

}

.subtitle_home{
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 0;
  
}

.home_container > .main_text{
  margin-top: 0;
  padding-bottom: 0;
}

.btn_home{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  margin: 0 auto 1.5em;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  z-index: 1;
  cursor: pointer;
}

.btn_home::after{
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    right: 0;
    z-index: -1;
}

.btn_home:hover::after,
.btn_home:focus::after{
  transform: scale(1.5);
}



/* DESTINATION PAGE */

.img_destination{
  width: 170px;
  margin: 0 auto 26px;
}

.nav_destination{
  display: flex;
  gap: 26px;
  justify-content: center;
}

.link_destination{
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 0.87rem;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;

}

.link_destination:hover{
  border-bottom: 4px #979797 solid;
}

.destination_container > hr{
  margin: 32px 0;
  border: none;
  border-top: 1px solid #979797;
}

.info_destination_container{
  display: flex;
  flex-direction: column;
  gap: 32px;

}

.subtitle_container_destination{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 12px;
}

.subtitles,
.subtitle_text_destination{
  text-transform: uppercase;
}


/* CREW PAGE */


.crew_container{
  text-align: center;
}

.img_crew{
  width: 327px;
  margin: 0 auto 0;
  
}

.nav_crew{
  margin: 0;
}

.link_crew{
  font-size: 8rem;
  text-decoration: none;
  line-height: 0;
  color: #979797;
}


.position_crew{
  font-size: 1rem;
  color: #979797;
  text-transform: uppercase;
  margin: 2em 0 .5em;
}

/* TECHNOLOGY PAGE */
.technology_container{
  display: grid;
  width: 100%;
  min-height: 100vh;
}

.img_technology{
  width: 100%;
  object-fit: fill;
}

.nav_technology{
  display: flex;
  gap:16px;
  align-items: center;
  justify-content: center;
}

.nav_technology > a{
  width:40px;
  padding: 11px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-size: 1rem;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

.nav_technology,
.technology_container > .subtitles,
.technology_container > .titles_sm,
.technology_container > .main_text{
  padding: 0 1.5em;
  text-align: center;
}



.technology_container > .subtitles{
  padding: .5em 0 0;
  margin-bottom: 0;
  line-height: 0;
}

.technology_container > .titles_sm{
  margin-bottom: 0;
  padding: 0;
  line-height: 0;
}

.technology_container > .main_text{
  margin-top: 0;
  padding-top: 0;
}

/* TABLET MODE */

@media screen and (min-width: 768px) {
  
  .pages_title{
    text-align: left;
    margin-bottom: 1em;
    font-size: 1.25rem;
  }
  
  .main_text{
    padding: 0 6.5em 1em;
    font-size: 1rem;
  }

  .home_container{
  padding: 6em 9.75em 1em;
}

.title_home{
  font-size: 9.30rem;
  margin-bottom: .2em;
  margin-top: .2em;
}

.subtitle_home{
  font-size: 1.25rem;
  margin-bottom: 2em;
  padding-bottom: 1em;
}

.home_container > .main_text{
  margin-top: 3em;
}

.btn_home{
  width: 242px;
  height: 242px;
  font-size: 2rem;
  margin-top: 2em
}



  .img_destination{
    width: 300px;
  }

  .link_destination{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }

  .destination_container > hr{
    margin: 3em 0 0;
  }


  .info_destination_container{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
  }

  .subtitle_container_destination{
    padding-bottom: 3em;
  }

  .crew_container{
    grid-template: repeat(9, auto)/repeat(6, 1fr);
    grid-template-areas: 
    "mainTitle mainTitle mainTitle mainTitle mainTitle mainTitle"
    "position position position position position position"
    "crewTitle crewTitle crewTitle crewTitle crewTitle crewTitle"
    "......... ......... ......... ......... ......... ........"
    "crewText crewText crewText crewText crewText crewText"
    "......... ......... ......... ......... ......... ........"
    "crewNav crewNav crewNav crewNav crewNav crewNav"
    "......... ......... ......... ......... ......... ........"
    "crewImage crewImage crewImage crewImage crewImage crewImage";
    margin-bottom: 0;
    padding-bottom: 0;


  }

  .crew_container > .pages_title{
    grid-area: mainTitle;
    margin-bottom: 0;
  }

  .img_crew{
    grid-area: crewImage;
    width: 368px;
  }

  .nav_crew{
    grid-area: crewNav;
  }

  .position_crew{
    grid-area: position;
    font-size: 1.5rem;
    margin-top: 0;
  }

  .crew_container > .titles_sm{
    grid-area: crewTitle;
    font-size: 2.5rem;
  }

  .crew_container > .main_text{
    grid-area: crewText;
    padding-bottom: 0;
  }

  .technology_container > .pages_title{
    padding-left: 1.5em;
    margin-bottom: 0;
  }

  .img_technology{
    margin-bottom: 0;
    padding-top: 0;
  }

  .nav_technology{
    margin-top: 0;
  }

  .link_technology{
    margin: 0;
    padding: 0;
  }

  
  .technology_container > .subtitles{
    font-size: 1rem;
  }
  
  .technology_container > .titles_sm{
    font-size: 2.5rem;
    padding-bottom: 0;
  }

  .technology_container > .main_text{
    padding: 0 9.75em 1em;
  }
}

/* DESKTOP MODE */

@media screen and (min-width: 1024px ) {
  .home_container{
    padding: 15.68em  10.13em  8.18em;
    grid-template: repeat(3, auto) / repeat(3, 1fr);
    grid-template-areas: 
    "subtitleHome . ."
    "titleHome . homeBtn"
    "homeText . homeBtn";
  }

  .title_home,
  .subtitle_home,
  .home_container > .main_text{
    text-align: left;
    padding-left: 0;
    
  }

  .subtitle_home{
    grid-area: subtitleHome;
  }

  .title_home{
    grid-area: titleHome;
  }

  .home_container > .main_text{
    grid-area: homeText;
  }

  .btn_home{
    grid-area: homeBtn;
  }

  .destination_container{
    grid-template: repeat(6, auto) / repeat(2, 1fr);
    grid-template-areas: 
    "destinationPageTitle ."
    "destinationPicture destinationNav"
    "destinationPicture destinationTitle"
    "destinationPicture destinationText"
    "destinationPicture destinationHr"
    "destinationPicture destinationInnerNav";

    padding: 4.7em 0 7em 10em;
  }

  .destination_container > .pages_title{
    grid-area: destinationPageTitle;
  }

  .img_destination{
    grid-area: destinationPicture;
    width: 70%;
    margin: auto;
  }

  .nav_destination{
    grid-area: destinationNav;
  }

  .destination_container > .titles{
    grid-area: destinationTitle;
  }

  .destination_container > .main_text{
    grid-area: destinationText;
  }

  .destination_container > hr {
    grid-area: destinationHr;
    margin: 0 auto;
    width: 65%;
  }

  .info_destination_container{
    grid-area: destinationInnerNav;
  }

  .crew_container{
    grid-template: repeat(6, auto) / repeat(2, 1fr);
    grid-template-areas: 
    "mainTitle crewImage"
    "position crewImage"
    "crewTitle crewImage"
    "crewText crewImage"
    "crewNav crewImage"
    "....... crewImage";
    padding: 4.7em 10em 0;

  }

  .crew_container > .pages_title{
    margin-bottom: 8em;
  }

  .position_crew,
  .crew_container > .titles_sm,
  .crew_container > .main_text,
  .nav_crew
  {
    text-align: left;
    margin: 0

  }

  .crew_container > .main_text{
    padding: 2em 15em 0 0 ;
  }

  .nav_crew{
    padding-top: 7.5em;
  }

  .img_crew{
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }

  .technology_container{
    grid-template: repeat(6,auto) / auto repeat(2, 1fr);
    grid-template-areas: 
    "techPageTitle techPageTitle ."
    "............. ............. techImg"
    "techNav techSubtitle techImg"
    "techNav techTitle techImg"
    "techNav techText techImg"
    "....... ........ techImg";
    padding: 4.7em 0 6em 10em; 
  }

  .technology_container > .pages_title{
    grid-area: techPageTitle;
  }

  .nav_technology{
    grid-area: techNav;
    flex-direction: column;
    margin-right: 2em;
  }

 

  .technology_container > .subtitles{
    grid-area: techSubtitle;
    text-align: left;
    margin-bottom: 2em;

  }

  .technology_container > .titles_sm{
    grid-area: techTitle;
    text-align: left;
    margin-bottom: 1em;
  }

  .technology_container > .main_text{
    grid-area: techText;
    text-align: left;
    padding: 0;
    padding-right: 17em;
  }

  .img_technology{
    grid-area: techImg;
    width: 100%;
    padding-left: 5em;
    /* float: right; */
  }
}